.card {
  margin: 5px;

  border: 1px solid purple;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  .card_title {
    font-size: 25px;
    font-weight: bold;
  }

  .card__prop_content {
    display: flex;
    flex-direction: column;

    span {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
